{{! @version 0.1 }}
{{#if author}}
<div class="nknu-author">
    <footer class="nknu-article-footer">
	    <address itemscope itemtype="http://schema.org/Person">
	    {{#if author.image}}
	    	<div class="nknu-author-image"><img src="{{author.image}}" itemprop="image" /></div>
	    {{/if}}
	    <h4 class="nknu-author-name"><span itemprop="author">{{author.name}}</span></h4>
	    {{#if author.website}}
	        <div class="nknu-author-website"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
	    {{/if}}
	    </address>
	    <div class="nknu-author-bio">
	    <p>{{author.bio}}</p>
	    </div>
    </footer>
</div>
{{/if}}
