{{! @version 1.1-SNAPSHOT }}
<div role='banner' class="nknu-header">
	{{#if @blog.logo}}
		<a class="nknu-blog-logo" href="{{@blog.url}}">
			<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
		</a>
	{{/if}}
	<h1 class="nknu-blog-title">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{{@blog.title}}}
		</a>
	</h1>
	<p class="nknu-blog-description">
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{@blog.description}}
		</a>
	</p>
</div>
