{{!< default}}
{{> header}}

<main class="nknu-main" role="main">
	{{#foreach posts}}
		<article class="nknu-article" role="article" itemscope itemtype="http://schema.org/Article">
			<header class="nknu-article-header">
				<time class="nknu-date" datetime="{{date format="YYY-MM-DD"}}" itemprop="datePublished">
				<h1 class="nknu-article-title" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
			</header>
			<div class="nknu-article-content" itemprop="articleBody">
				{{content}}
			</div>
			<div class="nknu-article-tags">
				{{#if tags}}
					Tags: {{tags separator=" | "}}
				{{/if}}
			</div>
		</article>
	{{/foreach}}

	<div class='nknu-pagination'>
		{{#if pagination}}
			{{{pagination}}}
		{{/if}}
	</div>
</main>

{{> footer}}