{{!< default}}
{{> header}}
{{> menu}}

<main class="nknu-main" role="main">
	{{#post}}
	<article class="nknu-article" role="article" itemscope itemtype="http://schema.org/Article">
		<header class="nknu-article-header">
			<time class="nknu-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
			<h1 class="nknu-article-title" itemprop="headline">{{title}}</h1>
		</header>
		<div class="nknu-article-content" itemprop="articleBody">
			{{content}}
		</div>
		{{#if tags}}
			<div class="nknu-article-tags">
				Tags: {{tags separator=" | "}}
			</div>
		{{/if}}
	    <div class="nknu-article-share">
		    <h4 class="nknu-share">Share this post: &nbsp;</h4>
		    <a class="nknu-share icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="nknu-hidethis">Twitter</span></a>
		    <a class="nknu-share icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="nknu-hidethis">Facebook</span></a>
		    <a class="nknu-share icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="nknu-hidethis">Google+</span></a>
	    </div>
        {{#if author}}
	        <footer class="nknu-article-footer">
	        <address itemscope itemtype="http://schema.org/Person">
	        {{#if author.image}}
	        	<div class="nknu-author-image"><img src="{{author.image}}" itemprop="image" /></div>
	        {{/if}}
	        <h4 class="nknu-author-name"><span itemprop="author">{{author.name}}</span></h4>
	        {{#if author.website}}
	        <div class="nknu-author-website"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
        {{/if}}
        </address>
        <div class="nknu-author-bio">
        <p>{{author.bio}}</p>
        </div>
        </footer>
        {{/if}}
	</article>
	{{/post}}

	{{#if pagination}}
		<div class="nknu-pagination">
			{{{pagination}}}
		</div>
	{{/if}}
</main>

{{> footer}}
